body {
    margin: 1em;
    font-family: sans-serif;
}

h1 {
    color:forestgreen;
}

h2 {
    color:forestgreen;
    font-style: bold;
    font-size: 4;
}

p {
    color: darkslategrey;
    font-size: 2;
}

img { 

    width:50%; 
}

blockquote {

	font-style: italic;
	color: darkslateblue;
}

.author {
	font-style: italic;
}

